.navbar-brand {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
