{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/twit.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Work+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Welcome to SJWebsite</title>
  </head>

  <body
    style="
      background-color: #ff0000;
      background-image: radial-gradient(
          at 40% 20%,
          hsla(28, 100%, 74%, 1) 0,
          transparent 50%
        ),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 85%, 93%, 1) 0, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0, transparent 50%);
    "
  >
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-sm">
        <a class="navbar-brand" href="{% url 'main:landing'%}">SJW.</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'main:landing'%}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:price_today'%}"
                >Bitcoin Price</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:randomizer'%}"
                >Where to?</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'main:post'%}">Post</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="https://gabutd.netlify.app">Gabut</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- Content section -->
    <div class="container p-4">
      <h1 class="text-center my-5" id="test">Curhat Zone</h1>
      <div class="container" id="form-wrapper">
        <form style="font-family: 'Inter', sans-serif" id="form">
          <div class="row g-3">
            <div class="col-md">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="from"
                  placeholder="name@example.com"
                  value="anonymous"
                  style="background-color: transparent; border: 1px solid black"
                />
                <label for="from">From</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="to"
                  placeholder="name@example.com"
                  value="everyone"
                  style="background-color: transparent; border: 1px solid black"
                />
                <label for="to">To</label>
              </div>
            </div>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="tulis donk.."
              id="message"
              style="background-color: transparent; border: 1px solid black"
            ></textarea>
            <label for="message">Message</label>
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="submit"
              value="clicked"
              name="submit"
              id="submit"
              class="btn btn-dark rounded-5 my-3 px-4 py-2"
            >
              Tweet
            </button>
          </div>
        </form>
      </div>

      <div class="container mt-5" style="font-family: 'Inter', sans-serif">
        <div class="text-center">
          <div class="spinner-grow" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div
          class="d-flex flex-column align-items-center"
          id="post-wrapper"
        ></div>
      </div>
    </div>

    <!-- Footer section -->
    <div class="container">
      <footer class="py-3 my-4">
        <div class="border-bottom pb-3 mb-3"></div>
        <p class="text-center text-muted">
          &copy; 2022 Supportive Friendship, Inc
        </p>
        <div class="d-flex justify-content-center">
          <a href="https://gitlab.com/farizwhyzn/sarekatjum" target="_blank">
            <i class="fab fa-gitlab fa-2x" style="color: #e24329"></i>
          </a>
        </div>
      </footer>
    </div>

    <!-- Javascript -->
    <script
      src="https://kit.fontawesome.com/024646a2ae.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");

      buildList();

      function buildList() {
        const wrapper = document.getElementById("post-wrapper");
        const url = "http://sarekatjum.herokuapp.com/api/viewall/";
        wrapper.innerHTML = "";

        fetch(url)
          .then((resp) => resp.json())
          .then(function (data) {
            console.log("Data:", data);

            let list = data;
            for (let i in list) {
              let item = `
                    <div class="my-3 p-5 align-self-stretch" style="
                      background: rgba( 255, 255, 255, 0.25 );
                      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                      backdrop-filter: blur( 4px );
                      -webkit-backdrop-filter: blur( 4px );
                      border-radius: 10px;
                      border: 1px solid rgba( 255, 255, 255, 0.18 );">
                        <div class="d-flex flex-row justify-content-between" id="pp_name_icon">
                            <div class="d-flex" id="pp_and_name">
                                <i class="fas fa-user-circle fa-3x"></i>
                                <div class="align-self-center ms-3 fw-bold">${list[i].sender_name} · <span class="fst-italic fw-light">to ${list[i].receiver_name}</span> · <span class="fw-light text-muted">${list[i].date}</span></div>
                            </div>
                            <i class="fab fa-twitter fa-2x d-none d-sm-block"></i>
                        </div>
                        <h3 class="mt-4 lh-base">${list[i].message}</h3>
                    </div>
                `;
              wrapper.innerHTML += item;
            }
            document.getElementById("spinner").style.display = "none";
          });
      }

      const form = document.getElementById("form-wrapper");
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        console.log("submitted");
        const url = "http://sarekatjum.herokuapp.com/api/create/";
        let from = document.getElementById("from").value;
        let to = document.getElementById("to").value;
        let message = document.getElementById("message").value;

        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            sender_name: from,
            receiver_name: to,
            message: message,
          }),
        }).then(function (response) {
          buildList();
          document.getElementById("form").reset();
        });
      });
    </script>
  </body>
</html>
