{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Work+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Welcome to SJWebsite</title>
  </head>

  <body style="background-color: black; color: white">
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-sm">
        <a class="navbar-brand" href="{% url 'main:landing'%}">SJW.</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'main:landing'%}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:price_today'%}"
                >Bitcoin Price</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'main:randomizer'%}"
                >Where to?</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:post'%}">Post</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="https://gabutd.netlify.app">Gabut</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5 p-4">
      <h1 class="fw-bold">Random Bestie Nongki Place Generator</h1>

      <form
        action="/randomizer/"
        method="GET"
        style="font-family: 'Inter', sans-serif"
      >
        <div class="d-flex flex-column justify-content-center">
          <label class="form-label text-center mt-3"
            >Mau Jalan Kemana Bestie?</label
          >
          <div class="mx-auto">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="location"
                id="location1"
                value="bintaro"
                required
              />
              <label class="form-check-label" for="location1">Bintaro</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="location"
                id="location2"
                value="bsd"
              />
              <label class="form-check-label" for="location2">BSD</label>
            </div>
          </div>

          <label class="form-label text-center mt-4"
            >Mau Ngapain Nih Bestie?</label
          >
          <div class="mx-auto">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="activity"
                id="activity1"
                value="makan"
                required
              />
              <label class="form-check-label" for="activity1">Makan</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="activity"
                id="activity2"
                value="nongkrong"
              />
              <label class="form-check-label" for="activity2">Nongkrong</label>
            </div>
          </div>

          <label class="form-label text-center mt-4"
            >Mau Harga Berapa Bestie?</label
          >
          <div class="mx-auto">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="price"
                id="price1"
                value="murah"
                required
              />
              <label class="form-check-label" for="price1">Murah</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="price"
                id="price2"
                value="sedeng"
              />
              <label class="form-check-label" for="price2">Sedeng</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="price"
                id="price3"
                value="mehong"
              />
              <label class="form-check-label" for="price3">Mehong</label>
            </div>
          </div>
          <button
            type="submit"
            value="clicked"
            name="submit"
            class="btn btn-dark m-5 mx-auto px-4 py-2"
          >
            Hayyu
          </button>
        </div>
      </form>

      {% if output.nama_tempat %}
      <div
        class="container border border-dark rounded-3 p-1 p-md-5"
        id="result"
      >
        <div class="d-flex flex-column flex-md-row">
          <div class="ratio ratio-1x1 mb-5" id="maps_embed">
            <iframe
              width="100%"
              height="100%"
              style="border: 0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD_oGZ_g_glYlKf0cx0s-ozRt-cLiP38V0&q={{output.nama_tempat}}+{{location}}&maptype=satellite"
            >
            </iframe>
          </div>
          <div
            class="container"
            id="texts"
            style="font-family: 'Inter', sans-serif"
          >
            <div class="d-flex flex-column align-items-start mx-5">
              <div class="container align-self-center" id="name_and_desc">
                <h1 class="mb-3 text-start">{{output.nama_tempat}}</h1>
                <figure class="text-center">
                  <blockquote class="blockquote text-start">
                    <p class="lh-base">"{{output.keterangan_tempat}}"</p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    <cite title="Manusia">Manusia</cite>
                  </figcaption>
                </figure>
              </div>
              <div class="container align-self-center" id="info">
                <div class="d-flex flex-row">
                  <i class="fas fa-clock fa-2x my-3 me-3"></i>
                  <div class="align-self-center">{{output.jam_buka}}</div>
                </div>
                <div class="d-flex flex-row">
                  <i class="fas fa-dollar-sign fa-2x my-3 me-3"></i>
                  <div class="align-self-center">
                    {{output.price_range_spesifik}}
                  </div>
                </div>
                <div class="d-flex flex-row">
                  <i class="fas fa-parking fa-2x my-3 me-3"></i>
                  <div class="align-self-center">{{output.parkir}}</div>
                </div>
                <div class="d-flex flex-row">
                  <i class="fas fa-thumbs-up fa-2x my-3 me-3"></i>
                  <div class="align-self-center">{{output.plus}}</div>
                </div>
                <div class="d-flex flex-row">
                  <i class="fas fa-thumbs-down fa-2x my-3 me-3"></i>
                  <div class="align-self-center">{{output.minus}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div id="result_alt">
        <h1 class="display-6" style="margin-bottom: 10rem">{{output}}</h1>
      </div>
      {% endif %}
    </div>

    <!-- Footer section -->
    <div class="container">
      <footer class="py-3 my-4">
        <div class="border-bottom pb-3 mb-3"></div>
        <p class="text-center text-muted">
          &copy; 2022 Supportive Friendship, Inc
        </p>
      </footer>
    </div>

    <script
      src="https://kit.fontawesome.com/024646a2ae.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      document.querySelector("#result").scrollIntoView({ behavior: "smooth" });
      document
        .querySelector("#result_alt")
        .scrollIntoView({ behavior: "smooth" });
    </script>
  </body>
</html>
