{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Work+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Welcome to SJWebsite</title>
  </head>

  <body style="background-color: #fefbf8">
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-sm">
        <a class="navbar-brand" href="{% url 'main:landing'%}">SJW.</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'main:landing'%}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:price_today'%}"
                >Bitcoin Price</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:randomizer'%}"
                >Where to?</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:post'%}">Post</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="https://gabutd.netlify.app">Gabut</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <h1 class="mt-5">Welcome to SJW</h1>
    <!-- <div class="my-5" style="text-align: center">
      <svg
        width="104"
        height="91"
        viewBox="0 0 104 91"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="signature"
          d="M39.8643 81.0719C39.8643 74.744 43.7162 0.829926 35.4947 0.829926C35.101 0.829926 40.0188 6.13728 40.2615 6.39125C44.1118 10.4207 46.5994 15.8889 50.9869 19.3015C58.7454 25.3358 66.6531 31.8628 74.0267 38.3688C81.2883 44.7762 88.5717 51.1568 96.272 57.039C96.6087 57.2962 105.453 63.0183 102.429 63.1962C96.9201 63.5202 91.4261 62.2301 86.2417 60.4155C61.5011 51.7563 34.9709 47.7913 11.1639 37.3758C9.86329 36.8068 0.736389 35.1034 0.736389 33.5027C0.736389 27.9086 11.2505 25.9846 15.2355 25.26C37.8471 21.1488 105.703 12.7903 82.7659 11.3567C72.5811 10.7202 66.2482 32.8721 62.7054 39.9578C56.5882 52.1921 48.6556 65.3194 39.8643 75.7092C36.2807 79.9443 29.6696 85.3731 27.3513 90.0097"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div> -->

    <div class="container">
      <p class="text-center" style="color: #111119">Mau ngapain nih</p>
      <div class="d-flex bd-highlight my-5 justify-content-center">
        <div class="p-2 bd-highlight mx-3">
          <a
            class="btn btn-outline-dark"
            href="{% url 'main:post'%}"
            role="button"
            style="color: #da0037"
            >Curhat Dongs</a
          >
        </div>
        <div class="p-2 bd-highlight mx-3">
          <a
            class="btn btn-outline-dark"
            href="{% url 'main:price_today'%}"
            role="button"
            >Mau Liat Uangku Habis</a
          >
        </div>
        <div class="p-2 bd-highlight mx-3">
          <a
            class="btn btn-outline-dark"
            href="{% url 'main:randomizer'%}"
            role="button"
            >Jalan Ah</a
          >
        </div>
      </div>
    </div>

    <div id="second-section" style="background: #ffffff">
      <div class="container">
        <div class="d-flex flex-column flex-md-row py-5">
          <h1 class="align-self-center" id="diverse">
            Unity in <span class="fst-italic">diversity.</span>
          </h1>
          <div class="container w-50">
            <div class="row">
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/UI.png' %}"
                  class="img-fluid p-3 hvr-bob"
                />
              </div>
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/UGM.png' %}"
                  class="img-fluid p-3 hvr-bob"
                />
              </div>
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/ITS.png' %}"
                  class="img-fluid p-3 hvr-bob"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/UB.png' %}"
                  class="img-fluid p-3 hvr-backward"
                />
              </div>
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/ITB.png' %}"
                  class="img-fluid p-3 hvr-pulse"
                />
              </div>
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/UPJ.png' %}"
                  class="img-fluid p-3 hvr-forward"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/Undip.png' %}"
                  class="img-fluid mx-auto d-block p-3 hvr-hang"
                  style="width: 85%"
                />
              </div>
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/IPB.png' %}"
                  class="img-fluid p-3 hvr-hang"
                />
              </div>
              <div class="col-sm">
                <img
                  src="{% static 'img/uni_logo/Prasmul.png' %}"
                  class="img-fluid p-3 hvr-hang"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer section -->
    <div class="container">
      <footer class="py-3">
        <div class="border-bottom pb-3 mb-3"></div>
        <p class="text-center text-muted">
          &copy; 2022 Supportive Friendship, Inc
        </p>
      </footer>
    </div>

    <script>
      AOS.init();
      ScrollReveal().reveal("#diverse");
    </script>
  </body>
</html>
