{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Work+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Welcome to SJWebsite</title>
  </head>

  <body style="background-color: #185adb;">
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-sm">
        <a class="navbar-brand" href="{% url 'main:landing'%}">SJW.</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'main:landing'%}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'main:price_today'%}"
                >Bitcoin Price</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:randomizer'%}"
                >Where to?</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:post'%}">Post</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="https://gabutd.netlify.app">Gabut</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="mt-5" style="color: #FFFFFF;">Cryptocurrency Price</h1>
      <div
        class="d-flex flex-column flex-md-row justify-content-center align-items-center m-5 p-5 rounded-3"
        id="card"
        style="
          font-family: 'Inter', sans-serif;
          background-color: #114fca;
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                      100px 100px 80px rgba(0, 0, 0, 0.07);
        "
      >
        <div
          class="d-flex flex-column justify-content-center w-100"
          id="price"
        >
          <h1 style="color: #ffc947">
            <i class="fab fa-bitcoin" style="color: #ffc947"></i>
            Bitcoin
          </h1>
          <div class="d-flex justify-content-center align-items-center mx-3" id="price_and_percentage">
            <div class="fs-1 mx-3" style="color: #FFFFFF;">${{data.price}}</div>
            {% if data.up %}
            <div
              class="border-0 rounded-3 p-1 text-center"
              style="background-color: #16c784;"
            >
              +{{data.change}}%
            </div>
          </div>
        </div>
          <div
            class="ratio ratio-1x1 w-50"
            id="reaction"
          >
            <iframe
              src="https://giphy.com/embed/DhstvI3zZ598Nb1rFf"
              width="100%"
              height="100%"
              style="position: absolute"
              class="giphy-embed"
              allowfullscreen
            ></iframe>
          </div>
        </div>
            {% else %}
              <div
                class="border-0 rounded-3 mx-3 fs-5 p-2"
                style="background-color: #ea3943;"
              >
                {{data.change}}%
              </div>
            </div>
            <div
            class="ratio ratio-1x1"
            id="reaction"
            >
            <iframe
              src="https://giphy.com/embed/DhstvI3zZ598Nb1rFf"
              width="100%"
              height="100%"
              style="position: absolute"
              class="giphy-embed"
              allowfullscreen
            ></iframe>
            </div>
          </div>
            {% endif %}
        </div>
      </div>
    </div>

    <!-- <svg
      id="wave"
      style="transform: rotate(0deg); transition: 0.3s"
      viewBox="0 0 1440 490"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="rgba(243, 106, 62, 1)" offset="0%"></stop>
          <stop stop-color="rgba(255, 179, 11, 1)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        style="transform: translate(0, 0px); opacity: 1"
        fill="url(#sw-gradient-0)"
        d="M0,196L26.7,212.3C53.3,229,107,261,160,245C213.3,229,267,163,320,130.7C373.3,98,427,98,480,138.8C533.3,180,587,261,640,277.7C693.3,294,747,245,800,220.5C853.3,196,907,196,960,212.3C1013.3,229,1067,261,1120,261.3C1173.3,261,1227,229,1280,204.2C1333.3,180,1387,163,1440,171.5C1493.3,180,1547,212,1600,245C1653.3,278,1707,310,1760,277.7C1813.3,245,1867,147,1920,122.5C1973.3,98,2027,147,2080,204.2C2133.3,261,2187,327,2240,367.5C2293.3,408,2347,425,2400,408.3C2453.3,392,2507,343,2560,334.8C2613.3,327,2667,359,2720,351.2C2773.3,343,2827,294,2880,294C2933.3,294,2987,343,3040,326.7C3093.3,310,3147,229,3200,204.2C3253.3,180,3307,212,3360,220.5C3413.3,229,3467,212,3520,196C3573.3,180,3627,163,3680,130.7C3733.3,98,3787,49,3813,24.5L3840,0L3840,490L3813.3,490C3786.7,490,3733,490,3680,490C3626.7,490,3573,490,3520,490C3466.7,490,3413,490,3360,490C3306.7,490,3253,490,3200,490C3146.7,490,3093,490,3040,490C2986.7,490,2933,490,2880,490C2826.7,490,2773,490,2720,490C2666.7,490,2613,490,2560,490C2506.7,490,2453,490,2400,490C2346.7,490,2293,490,2240,490C2186.7,490,2133,490,2080,490C2026.7,490,1973,490,1920,490C1866.7,490,1813,490,1760,490C1706.7,490,1653,490,1600,490C1546.7,490,1493,490,1440,490C1386.7,490,1333,490,1280,490C1226.7,490,1173,490,1120,490C1066.7,490,1013,490,960,490C906.7,490,853,490,800,490C746.7,490,693,490,640,490C586.7,490,533,490,480,490C426.7,490,373,490,320,490C266.7,490,213,490,160,490C106.7,490,53,490,27,490L0,490Z"
      ></path>
    </svg> -->

    <!-- Footer section -->
    <div class="container">
      <footer class="py-3 my-4">
        <div class="border-bottom pb-3 mb-3"></div>
        <p class="text-center">&copy; 2022 Supportive Friendship, Inc</p>
      </footer>
    </div>

    <script
      src="https://kit.fontawesome.com/024646a2ae.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
